<div [ngClass]="'items'">
  <h2> {{comment.id}}</h2>
  <div>{{comment.postId}}</div>
  <div>{{comment.name}}</div>
  <div>{{comment.email}}</div>
  <div>{{comment.body}}</div>

    <div [ngClass]="'button'">
      <button (click)="showPostOfComment(comment)" [ngClass]="'btn'"> Show post to this comment</button>
    </div>

  <div>
    <blockquote>{{post?.id}}</blockquote>
    <blockquote>{{post?.title}}</blockquote>
    <blockquote>{{post?.body}}</blockquote>
    <blockquote>{{post?.userId}}</blockquote>

  </div>
</div>


