<div [ngClass]="'root'">
  <div [ngClass]="'title'">
    <h1>Welcome {{msg}}!</h1>
  </div>

  <div [ngClass]="'main-app'">
    <div>
      <a routerLink="/">Home page</a>
    </div>

    <div>
      <!--    <app-user *ngFor="let u of users" [user]="u"></app-user>-->
      <a routerLink="/users">Users page</a>
    </div>

    <div>
      <!--    <app-post *ngFor="let p of posts" [post]="p"></app-post>-->
      <a routerLink="/posts">Posts page</a>
    </div>

    <div>
      <a routerLink="/comments">Comments page</a>
    </div>

    <div>
      <!--    <app-todos *ngFor="let t of todos" [todo]="t"></app-todos>-->
      <a routerLink="/todos">Todos page</a>
    </div>

    <div>
      <a routerLink="/albums">Albums page</a>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
