.users{
  background: green;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 800px;
  box-sizing: border-box;

}
.button{
  text-align: right;
}
.btn{
  padding: 10px;
  cursor: pointer;}
