.users{
  background: green;
  border: 2px solid black;
  margin: 50px;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}
.button{
  text-align: right;
}
.btn{
  padding: 10px;
  cursor: pointer;}
