
<form [formGroup]="f" [style]="'background: green'" class="form-control">
  <div [ngClass]="'form'" [ngStyle]="{'font-size':'20px', 'font-family':'Verdana'}">
    <label>Id:</label>
    <div>
      <input formControlName="id" size="60" required>
    </div>
  </div>
  <div [ngClass]="'form'">
    <label>Title: </label>
    <div>
      <input formControlName="title" size="60" required>
    </div>
  </div>
  <div [ngClass]="'form'">
    <label>Body: </label>
    <div>
      <input formControlName="body" size="60" required>
    </div>
  </div>
  <div [ngClass]="'form'">
    <label>Type: </label>
    <div>
      <input formControlName="type" size="60" required>
    </div>
  </div>
  <div [ngClass]="'form'">
    <button  (click)="onSubmit(f)" [disabled]="f.invalid && (f.dirty || f.touched)">Submit</button>
  </div>
</form>

<app-task *ngFor="let task of tasks" [task]="task"></app-task>




