<form [formGroup]="f">
  <div [ngClass]="'form'">
    <label>Id:</label> <input formControlName="id">
  </div>
  <div [ngClass]="'form'">
    <label>Title: </label> <input formControlName="title">
  </div>
  <div [ngClass]="'form'">
    <label>Body: </label><input formControlName="body">
  </div>
  <div [ngClass]="'form'">
    <label>Type: </label> <input formControlName="type">
  </div>
  <div [ngClass]="'form'">
    <button (click)="onSubmit(f)">Submit</button>
  </div>
</form>


<app-task *ngFor="let task of tasks" [task]="task"></app-task>




